body{
    color: #000;
    /*background-color: #fff;*/
    font-family: 'Raleway';
    width: 100%;
    line-height: 1.42857143;
    background-color:#DEEAF0;
}

.content{
    /*padding-bottom: 80px;*/
    word-wrap: break-word;
    background-color:#DEEAF0;
    padding-left: 10vw;
    padding-right: 10vw;
    /*padding-left: 6vw;
    padding-right: 6vw;*/
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    background-color:#DEEAF0;
}

.bmar{
    margin-top: 50px;
}

.sec-titulo{
    /*width: 100%;
    padding: 25px;*/
    margin-bottom: 20px;
    border-bottom: 1px solid #c9c2c2;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    font-size: 29px;
}

.sec-titulo h1{
    /*color: #FF7A18;*/
    color: #292929;
    font-weight: 500;
    letter-spacing: -1.5px;
    margin-top: 20px;
    font-size: 64px;
    line-height: 1; 
}

.subtitulo{
    margin-top: 2.1em;
    margin-bottom: 1.3em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

.subtitulo h2{
    font-size: 40px;
    font-weight: 500;
    margin-top: 2vw;
}

p{
    margin: 0 0 5px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 23px;
    text-align: justify;
    /*color: #323232;*/
}

ul {
    list-style: none; /* Remove default bullets */
}

ul li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #FF7A18; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

ul li{
    font-size: 23px;
    text-align: justify;
    font-family: 'Raleway';
}

.centerflex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}